.wrapper{
	width: 100%;
	position: relative;
}
.pop{
	position: absolute;
}
.pop-partone{
	width: 224px;
	height: 324px;
	position: absolute;
	top:212px;
	left:785px;
	*left:784px;
	left:782px\0;
	z-index: 100;
}
.pop-parttwo{
	width: 322px;
	height: 480px;
	position: absolute;
	top:955px;
	left:240px;
	*left:238px;
	left:238px\0;
	z-index: 1;
}
.pop-partthree{
	width: 344px;
	height: 442px;
	position: absolute;
	top:1777px;
	left:462px;
	*left:460px;
	left:461px\0;
	z-index: 100;
}
.pop-partfour{
	width: 171px;
	height: 245px;
	position: absolute;
	top:2682px;
	left:546px;
	*left:546px;
	left:544px\0;
	z-index: 100;
}
#back_top{
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("btn_backtop.png") no-repeat 0 0;
}
a.null{
	display: inline-block;
	background: url("bg_null.gif") repeat 0 0;
}
.partOne{
	width: 100%;
	background: url("bg_p01.jpg") no-repeat center 0;
}
.partOne .partone-con{
	width: 788px;
	min-height: 768px;
	margin: 0 auto;
	background: url("bg_p01_con.png") no-repeat 0 0;
}
.partOne .partone-con .lt{
	float: left;
	width: 210px;
	margin-top: 388px;
}
.partOne .partone-con .lt a.dl-appstore{
	width: 194px;
	height: 52px;
}
.partOne .partone-con .lt a.link-one{
	width: 210px;
	height: 25px;
	display: inline-block;
	margin-top: 145px;
}
.partOne .partone-con .rt{
	float: right;
	width: 224px;
	margin-top: 212px;
	margin-right: 17px;
}
.partOne .partone-con .rt .pic-scroll{
	width: 224px;
	height: 324px;
	overflow: hidden;
	position: relative;
}
.partOne .partone-con .rt .pic-scroll ul{
	position: absolute;
	width: 1000px;
}
.partOne .partone-con .rt .pic-scroll ul li{
	float: left;
	width: 224px;
	height: 324px;
}
.parttwo{
	width: 100%;
	background: url("bg_p02.gif") repeat 0 0;
}
.parttwo .parttwo-con{
	width: 788px;
	min-height: 712px;
	margin: 0 auto;
	padding-top:  56px;
	position: relative;
}
.parttwo .parttwo-con .img{
	width: 322px;
	height: 480px;
	position: absolute;
	top:187px;
	left:2px;
	z-index: 1;
}
.parttwo .parttwo-con .info{
	width: 535px;
	height: 615px;
	position: absolute;
	top:56px;
	left: 228px;
	z-index: 20;
}
.parttwo .parttwo-con .link-two{
	width: 112px;
	height: 26px;
	position: absolute;
	top: 645px;
	left: 455px;
	z-index: 30;
}
.partthree{
	width: 100%;
	background: url("bg_p03.jpg") no-repeat center 0;
}
.partthree .partthree-con{
	width: 788px;
	min-height: 712px;
	margin: 0 auto;
	padding-top:  56px;
	position: relative;
}
.partthree .partthree-con .info{
	width: 475px;
	height: 629px;
	position: absolute;
	top:56px;
	left: 154px;
	z-index: 20;
}
.partthree .partthree-con .book{
	width: 341px;
	height: 443px;
	position: absolute;
	top:184px;
	left: 225px;
	z-index: 30;
}
.partthree .partthree-con .link-three{
	width: 112px;
	height: 26px;
	position: absolute;
	top: 656px;
	left: 336px;
	z-index: 30;
}
.partfour{
	width: 100%;
	background: url("bg_p02.gif") repeat 0 0;
}
.partfour .partfour-con{
	width: 788px;
	min-height: 712px;
	margin: 0 auto;
	padding-top:  56px;
	position: relative;
	background: url("img_info_four.png") no-repeat center 56px;
}
.partfour .partfour-con .bg{
	width: 170px;
	height: 222px;
	position: absolute;
	background-color: #999;
	top:266px;
	left:309px;
	z-index: 1;
}
.partfour .partfour-con .img-scroll{
	width: 170px;
	height: 160px;
	padding-top: 248px;
	margin-left: 309px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.partfour .partfour-con .img-scroll ul{
	position: absolute;
	width: 1000px;
	left:-104px;
}
.partfour .partfour-con .img-scroll ul li{
	width: 100px;
	height: 160px;
	float: left;
	padding: 0 13px;
}

.banner{
	width: 100%;
	height: 93px;
	background: #dcdddd url("bg_banner.png") no-repeat center;
}
.footer{
	background-color: #727171;
	width: 100%;
	text-align: center;
	height: 240px;
	font-family:"\5FAE\8F6F\96C5\9ED1";
	color: #fcfdfe;
	font-size: 14px;
	line-height: 26px;
	padding-top: 24px;
}
.footer a{
	color: #fcfdfe;
}