* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Grid HTML Classes */
.row {max-width: 40em;}

.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }
.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }
a.th {
  max-width: 100%; }
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.arrow-group {
  position: relative;
  max-width: 52em;
  /*min-height: 60em;*/
  margin: 0 auto;
  display: block;
}
.arrow-group a.pos-abs {
  top: 30%;
  /*display: none;*/
}
.arrow-group i {
  background: url(icon_arrow.png) no-repeat 0 0;
  width: 30px;
  height: 50px;
  display: inline-block;
}
.arrow-group a {
  padding: 18px 28px;
  opacity: 0.6;
  display: block;
  z-index: 50;
}
.arrow-group a:hover {
  opacity: 0.8;
}
.arrow-group a.next {
  right: 0;
}
.arrow-group a:last-child {
  right: 0;
}
.arrow-group i.icon-arrow-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  .arrow-group a {
    margin: 0 10px;
    padding: 9px 14px;
    border-radius: 5px;
  }
}
footer.foot {
  padding: 30px 0;
  font-size: 0.75em;
  color: #fff;
  text-align: center;
}

/* -----------------------------------------
   context
----------------------------------------- */
.download {
  background: url(img_download_bg.jpg) repeat-y;
  background-size: 100% auto;
}
.main:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  background: #fff; }

.main {
  width: 100%;
}
#container {
  
}
/*stamp*/
.stamp {
  clear: both;
  text-align: center;
  display: block;
  overflow: hidden;
}
.stamp > div {
  text-align: center;
}
.stamp .album-wrapper {
  position: relative;
  min-height: 354px;
  margin: 5px 0 30px;
  overflow: hidden;
}
.photo-wrapper .img-mod img,
img.photo {
  width: auto;
  height: 100%;
  min-height: 354px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 3px solid #fff;
  display: none;
}

#photo_frame {
  position: relative;
}
.stamp .photo-wrapper {
  position: relative;
  float: left;
  width: 100%;
  display: inline-block;
  clear: none;
}
.photo-wrapper .img-mod {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.stamp img.hotspot {
  position: absolute;
  border: 0.2em solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-origin: border-box;
  z-index: 50;
}
.stamp img.hotspot:hover {
  cursor: pointer; 
}
.stamp img.expanding {
}



.pagination {
  bottom: 0.5em;
  right: 3%;
  color: #c9caca;
  text-shadow: 0 1px 1px #666;
  font-size: 1.5em;
}

@keyframes fade {
    from { border-color: #FFF; }
    70% { border-color: rgba(255, 255, 255, 0.4); }
    to { border-color: #FFF; }
}
 
@-webkit-keyframes fade {
    from { border-color: #FFF; }
    75% { border-color: rgba(255, 255, 255, 0.4); }
    to { border-color: #FFF; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.blink:hover {
  /*-webkit-animation-fill-mode: backwards;*/
  -webkit-animation-duration: 1000ms;
}


#console {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.draging {
}

.modal {
  position: fixed;
  _position: absolute;
  min-width: 40em;
  /*min-height: 60em;*/
  z-index: 1050;
  background-color: rgba(0,0,0,0.6);
  outline: none;
  top:0;
  background-image: url(img_alart_bg.png);
  background-repeat: no-repeat;
  background-position: center 0.625em;
  background-size: 70% auto;
}
.photo-wrapper .btn-voice {
  top: 10px;
  left: 0;
  z-index: 30;
}
.btn-voice .btn {
  padding: 8px 20px;
  background: #e8e8ee;
  background: -moz-linear-gradient(top, #f6f6fa 0%, #dcdce4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6fa), color-stop(100%, #dcdce4));
  background: -webkit-linear-gradient(top, #f6f6fa 0%, #dcdce4 100%);
  background: -o-linear-gradient(top, #f6f6fa 0%, #dcdce4 100%);
  background: -ms-linear-gradient(top, #f6f6fa 0%, #dcdce4 100%);
  background: linear-gradient(top bottom, #f6f6fa 0%, #dcdce4 100%);
  border-radius: 30px;
  box-shadow: 0 1px 1px #18162b;
  font-size: 1.875em;
  font-weight: normal;
  color: #2aaa6e;
  display: block;
  clear: both;
  overflow: hidden;
}
.btn-voice .btn i {
  float: left;
  width: 23px;
  height: 23px;
  margin: 3px 8px 0 0;
  /*margin: -4px 8px 0 0;
  display: inline-block;*/
  vertical-align: middle;
  overflow: hidden;
}
.btn-voice .btn i.img-play {
  width: 22px;
  height: 26px;
  background: url(img_play.png) no-repeat;
  box-shadow: 0 0 12px #baffee;
}
.btn-voice .btn i.img-stop {
  background: #2ab171;
  background: -moz-linear-gradient(top, #078d4d 0%, #68d7a6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #078d4d), color-stop(100%, #68d7a6));
  background: -webkit-linear-gradient(top, #078d4d 0%, #68d7a6 100%);
  background: -o-linear-gradient(top, #078d4d 0%, #68d7a6 100%);
  background: -ms-linear-gradient(top, #078d4d 0%, #68d7a6 100%);
  background: linear-gradient(top bottom, #078d4d 0%, #68d7a6 100%);
  border-width: 1px;
  border-style: solid;
  border-color: #05713c #4cb787 #6dc8a0;
  border-radius: 3px;
  box-shadow: 0 0 12px #baffee;
}
.btn-voice audio {
  width: 0;
  height: 0;
  visibility: hidden;
}

/*another*/
.pop-alert {
  position: relative;
  height: 22px;
  margin: 0 50px 12px;
  background-color: rgba(255,255,255,0.5);
  color: #3d434e;
  font-size: 0.875em;
  line-height: 22px;
  border-radius: 10px;
}
.pop-alert i.arrow-down {
  position: absolute;
  width:0px;
  height:0px;
  margin-left: -3px;
  left: 50%;
  bottom: -8px;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-top:8px solid rgba(255,255,255,0.5);
  font-size:0px;
  line-height:0px;
  display: inline-block;
}
.btns {
  text-align: center;
}
.btns a.btn-download {
  min-height: 24px;
  margin: 0 30px;
  padding: 8px 0;
  background: #fc612b;
  background: -moz-linear-gradient(top, #fd865c 0%, #fc612b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd865c), color-stop(100%, #fc612b));
  background: -webkit-linear-gradient(top, #fd865c 0%, #fc612b 100%);
  background: -o-linear-gradient(top, #fd865c 0%, #fc612b 100%);
  background: -ms-linear-gradient(top, #fd865c 0%, #fc612b 100%);
  background: linear-gradient(top bottom, #fd865c 0%, #fc612b 100%);
  border-radius: 5px;
  box-shadow: 0 1px 1px #fec0aa inset,0 1px 4px #18162b;
  border: 1px solid #fc612a;
  display: block;
  overflow: hidden;
}
.btns a.btn-download i.img-btn-text {
  width: 153px;
  height: 24px;
  background: url(img_btn_u.png) no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.alert-msg {
  margin: 10px 40px 0;
  padding: 5px 0;
  background-color: rgba(0,0,0,0.3);
  font-size: 0.625em;
  line-height: 1.6em;
  color: #a8aaae;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
}
.alert-msg i.img-open {
  width: 16px;
  height: 16px;
  margin: -5px 3px 0;
  background: url(img_open.png) 0 0;
  background-size: 100% auto;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (orientation: portrait) and (max-width: 640px)  {
  /*.photo-wrapper .img-mod img {
    max-width: auto;
    min-width: inherit;
    width: 100%;
  }*/
  .modal {
    background-position: 2.5em 0.625em;
    background-size: 50% auto;
  }
  .footer .img-alarm {
    margin-bottom: 1em;
  }
  .footer .btn-group a {
    padding: 10px 0;
    line-height: 1.5em;
    font-size: 1.2em;
  }
  .footer .btn-group i {
    margin-right: 2px;
  }
  .pagination {
    font-size: 1.5em;
    bottom: 2%;
  }
  .btn-voice .btn {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .btn-voice .btn i {
    margin-top: 1px;
    margin-bottom: -1px;
  }
  .btn-voice .btn i.img-stop {
    height: 20px;
    width: 20px;
  }
  .btn-voice .btn i.img-play {
    height: 21px;
    width: 18px;
    background-size: 100% auto;
  }
}
@media screen and (orientation: portrait) and (max-width: 440px) {
  .pagination {
    font-size: 1.2em;
    bottom: 0.3em;
  }
  .btn-voice .btn {
    padding: 4px 14px;
  }
  .btn-voice .btn i.img-stop {
    height: 16px;
    width: 16px;
    margin-top: 3px;
  }
  .btn-voice .btn i.img-play {
    height: 18px;
    width: 15px;
    background-size: 100% auto;
    margin-top: 3px;
  }
}
@media screen and (orientation: portrait) and (max-width: 385px)  {
  #photo_frame img.hotspot {
    width: 50px;
    height: 50px;
  }
  .btn-voice .btn {
    padding: 2px 8px;
    border-radius: 12px;
  }
  .btn-voice .btn i.img-play {
    height: 13px;
    width: 10px;
    margin-top: 3px;
    margin-right: 4px;
  }
  .btn-voice .btn i.img-stop {
    height: 10px;
    width: 10px;
    margin-top: 3px;
    margin-right: 4px;
  }
  .pagination {
    font-size: 1em;
    bottom: 0.3em;
  }
  .footer .img-alarm {
    height: 2.95em;
    margin-bottom: 0.5em;
  }
  .footer .btn-download a {
    height: 2.5em;
  }
  .footer .btn-download {
    margin-bottom: 1em;
  }
  .footer .btn-group a {
    width: 48.5%;
    padding: 7px 0 3px 0;
    font-size: 1em;
    line-height: 1em;
  }
  .footer .btn-group i.icon-pen,
  .footer .btn-group i.icon-share {
    width: 22px;
    height: 25px;
    margin: 0 2px -3px;
  }
  .btn-voice .btn {
    font-size: 1em;
    line-height: 1em;
  }
  .btn-voice .btn i {
    margin-top: 1px;
    margin-bottom: 0;
  }
  .btn-voice .btn i.img-stop {
    height: 16px;
    width: 16px;
  }
  .btn-voice .btn i.img-play {
    background-size: 100% auto;
  }
}
@media screen and (orientation: portrait) and (max-width: 320px)  {
  #photo_frame img.hotspot {
    width: 50px;
    height: 50px;
  }
  .pagination {
    font-size: 1em;
    bottom: 0.3em;
  }
  /*.photo-wrapper .img-mod img {
    max-width: auto;
    width: 100%;
  }*/
  .modal {
    background-position: 2.5em 0.625em;
    background-size: 40% auto;
  }
  .footer .img-alarm {
    height: 2.38em;
    margin-bottom: 0.5em;
  }
  .footer .btn-download {
    margin-bottom: 1em;
  }
  .footer .btn-download a {
    height: 2.5em;
  }
  .footer .btn-group a {
    width: 48.5%;
    padding: 7px 0 3px 0;
    font-size: 1em;
    line-height: 1em;
  }
  .footer .btn-group i.icon-pen,
  .footer .btn-group i.icon-share {
    width: 22px;
    height: 25px;
    margin: 0 2px -3px;
  }
  .btn-voice .btn {
    font-size: 1em;
    line-height: 1em;
  }
  .btn-voice .btn i {
    margin-top: 1px;
    margin-bottom: 0;
  }
  .btn-voice .btn i.img-stop {
    height: 10px;
    width: 10px;
  }
  .btn-voice .btn i.img-play {
    background-size: 100% auto;
  }
}


/*download*/
/*.download .main {
  background: url(img_download_bg.jpg);
  background-size: 100% auto;
}*/
.pic-box {
  min-height: 354px;
  background-color: #fff;
  margin: 5px 40px;
  overflow: hidden;
}
.pic-box img {
  width: 100%;
  height: 100%;
  min-height: 354px;
  /*min-height: 100%;*/
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border: 3px solid #fff;
}

@media screen and (min-width: 640px) {
  .pic-box {
    margin: 1.5625% 12.5%;
  }
}
@media screen and (min-width: 321px) {
  .pic-box img {
    border: 6px solid #fff;
  }
}