* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Grid HTML Classes */
.row {max-width: 40em;min-height: 60em;}

.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }
.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }
a.th {
  max-width: 100%; }
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.arrow-group {
  position: relative;
  max-width: 52em;
  min-height: 60em;
  margin: 0 auto -60em;
  display: block;
}
.arrow-group a.pos-abs {
  top: 30%;
  display: none;
}
.arrow-group i {
  background: url(icon_arrow.png) no-repeat;
  width: 30px;
  height: 50px;
  display: inline-block;
}
.arrow-group a {
  padding: 18px 28px;
  background-color: #000;
  border-radius: 10px;
  opacity: 0.6;
  display: block;
  z-index: 50;
}
.arrow-group a:hover {
  opacity: 0.8;
}
.arrow-group a.next {
  right: 0;
}
.arrow-group a:last-child {
  right: 0;
}
.arrow-group i.icon-arrow-left {
  background-position: 0 -50px;
}
.arrow-group i.icon-arrow-right {
  background-position: 0 0;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  .arrow-group a {
    margin: 0 10px;
    padding: 9px 14px;
    border-radius: 5px;
  }
}

/* -----------------------------------------
   context
----------------------------------------- */

.main:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  background: #fff; }

.main {
  width: 100%;
  background: url(img_stamp_bg.jpg) repeat center center; }
.stamp {
  clear: both;
  text-align: center;
  display: block;
  overflow: hidden;
}

.stamp > div {
  text-align: center;
}

#container {
  
}

img.photo {
  max-width: 640px;
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .photo-wrapper img.photo {
    max-width: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .photo-wrapper img.photo {
    max-width: 100%;
  }
}
#photo_frame {
  position: relative;
}
#photo_frame .album-wrapper {
  position: relative;
  overflow: hidden;
}
#photo_frame .photo-wrapper {
  position: relative;
  float: left;
  padding-bottom: 8.125%;
  background: url(img_cutline.png) no-repeat bottom;
  background-size: 100% auto;
  display: inline-block;
  clear: none;
}
#photo_frame img.hotspot {
  position: absolute;
  border: 0.2em solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-origin: border-box;
}

#photo_frame img.hotspot:hover {
  cursor: pointer; 
}

#photo_frame img.expanding {
}

.pagination {
  bottom: 0.5em;
  right: 3%;
  color: #fff;
  text-shadow: 0 1px 1px #666;
  font-size: 1.5em;
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .pagination {
    font-size: 1em;
  }
}

@keyframes fade {
    from { border-color: #FFF; }
    70% { border-color: rgba(255, 255, 255, 0.4); }
    to { border-color: #FFF; }
}
 
@-webkit-keyframes fade {
    from { border-color: #FFF; }
    75% { border-color: rgba(255, 255, 255, 0.4); }
    to { border-color: #FFF; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.blink:hover {
  /*-webkit-animation-fill-mode: backwards;*/
  -webkit-animation-duration: 1000ms;
}


#console {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.draging {
}

.row .footer {
  padding: 0 3.90625%;
}
.footer .thumbnail {
  margin-right: -3.90625%;
  clear: both;
}
.footer .thumbnail a {
  float: left;
  width: 21.53344208809135%;
  margin: 0 3.4257748776509% 3.4257748776509% 0;
  box-shadow: 0 5px 6px -1px #000;
}
.footer .general {
}
.footer .img-alarm {
  height: 4.75em;
  background: url(img_alart.png) no-repeat;
  background-size: 100% auto;
  margin: 0.625em 0;
}
.footer .btn-download a {
  height: 4.5em;
  background: url(btn_download.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
  box-shadow: 0 5px 6px -1px #000;
  display: block;
  overflow: hidden;
}
.footer .btn-group {
  clear: both;
}
.footer .btn-group a {
  width: 48%;
  margin: 1.5625em 0; 
  padding: 15px 0;
  font-size: 2em;
  font-family: 'simhei';
  color: #000;
  display: block;

  background: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #b6b6b7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #b6b6b7));
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #b6b6b7 100%);
  background: -o-linear-gradient(top, #e9e9e9 0%, #b6b6b7 100%);
  background: -ms-linear-gradient(top, #e9e9e9 0%, #b6b6b7 100%);
  background: linear-gradient(top bottom, #e9e9e9 0%, #b6b6b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#b6b6b7', GradientType=0);
  _filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  border-radius: 8px;
  box-shadow: 0 5px 6px -1px #000;
}
.footer .btn-group a.full {
  width: 100%;
}
.footer .btn-group a.pull-left {
  float: left;
}
.footer .btn-group a.pull-right {
  float: right;
}
.footer .btn-group i {
  width: 32px;
  height: 28px;
  margin-right: 5px;
  margin-top: -1px;
  vertical-align: middle;
  display: inline-block;
}
.footer .btn-group i.icon-pen {
  background: url(icon_pen.png) no-repeat;
}
.footer .btn-group i.icon-share {
  background: url(icon_share.png) no-repeat;
}
.modal {
  position: fixed;
  _position: absolute;
  min-width: 40em;
  min-height: 60em;
  z-index: 1050;
  background-color: rgba(0,0,0,0.6);
  outline: none;
  top:0;
  background-image: url(img_alart_bg.png);
  background-repeat: no-repeat;
  background-position: center 0.625em;
  background-size: 70% auto;
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .modal {
    background-position: 2.5em 0.625em;
    background-size: 50% auto;
  }
  .footer .btn-download a,
  .footer .img-alarm {
    height: 3em;
  }
  .footer .btn-group a {
    padding: 10px 0;
    line-height: 1.5em;
    font-size: 1.2em;
  }
  .footer .btn-group i {
    margin-right: 2px;
    background-size: 90% auto;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  .pagination {
    bottom: 0.4em;
  }
  .modal {
    background-position: 2.5em 0.625em;
    background-size: 40% auto;
  }
  .footer .img-alarm {
    height: 2.38em;
  }
  .footer .btn-download a {
    height: 2.5em;
  }
  .footer .btn-group a {
    width: 48.5%;
    padding: 7px 0 3px 0;
    font-size: 1em;
    line-height: 1em;
  }
  .footer .btn-group i {
    margin: 0 -5px -2px 0; 
    background-size: 75% auto;
  }
}
